:root {
  /* Variables for default theme (light-mode) */
  --background-color: white;
  --text-color: black;  
  --footer-bg-grad-stop: #eee;
  --navbarBG: "url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e)";
  --hymnSelectBGStart: #6facd5;
  --hymnSelectBGStop: #497bae;
  --headerBG: #eee;
  --headerBorder: #122e4a;
  --pageHeight: 115px;
}
.App[data-theme="dark"] {
  /* Variables for dark mode */
  --background-color: black;
  --text-color: white;   
  --footer-bg-grad-stop: #111;
  --navbarBG: "url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%255, 255, 255, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e)";
  --hymnSelectBGStart: #333;
  --hymnSelectBGStop: #333;
  --headerBG: #222;
  --headerBorder: #000;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all ease 0.3s;
  padding-top: 80px;
}
.App .navbar {
  background-color: var(--headerBG);
  color: var(--text-color);
  border-bottom: 1px solid var(--headerBorder);
}
.App .header a {
    color: var(--text-color)!important;
  
}
.App #mainNav {
  background-color: var(--headerBG);
}
.App #mainNav .d-flex {
  justify-content: space-between;
  align-items: center;
}

.App .portlet.card {
  background-color: var(--headerBG);
  color: var(--text-color);
  border: 1px solid var(--headerBorder);
}
.App .portlet.card .card, .App .portlet.card .card-body  {
  background-color: transparent;
  background-color: var(--background-color);
}

.nav-item .nav-link {
  margin-right: 5px;
}
.nav-item .nav-link svg {
  margin-right: 4px;
}

.navbar-brand img {
  width: 60px;
}
.navbar .nav-item svg {
  width: 20px;
}

.card .featuredImage {
  display: inline-block;
  height: 180px;
}
.card .featuredImage img {
  width: 100%;
}
#navbarResponsive {
  justify-content: end;
}




.column {
  height: 100px;
  width: 46%;
  margin: 1%;
  float: left;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-column {
  background-color: #f5ffea;
}

.second-column {
  background-color: #fffbf5;
}

.movable-item {
  border-radius: 10px;
  background-color: #fff3f3;
  height: 100px;
  width: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.dragzone {
  background-color: #eee;
}


.navbar-brand span {
  color: var(--text-color);
  display: inline-block;
}
.navbar-brand span em {
  color: blueviolet;
  font-style: normal;
  display: inline-block;
  margin-left: 1px;
}

.swiper {
  height: 400px;
}
