body {
  padding-top: 80px;
}
.navbar-brand img {
  width: 60px;
}
.navbar .nav-item svg {
  width: 20px;
}

.card .featuredImage {
  display: inline-block;
  height: 180px;
}
.card .featuredImage img {
  width: 100%;
}
#navbarResponsive {
  justify-content: end;
}
#mainNav {
  background: #fff;
  border-bottom: 1px solid #64a19d;
}